/* ------------
fonts import
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

/* -------------
Style CSS Start 
----------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.TopBanner{
    display: flex;
    background-color: #161616;
    color: white;
    border-radius: 25px;
    justify-content: space-around;
    height: 480px;
    width: 1000px;
    align-items: center;
    padding: 20px;
    padding-left: 90px;
    margin: auto;
    margin-top: 40px;
}

.BannerInfo h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 900px;
    padding-bottom: 10px;
    line-height: 60px;
}

.BannerInfo p{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px
}

.TopBtn{
    background-color: #DD0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0f00e0b7;
    transition: ease-out 0.5s;
    font-size: 15px;
}

.TopBtn:hover{
    box-shadow: inset 200px 0 0 0 #0f00e0b7;
}

.BannerImg img{
    width: 405px;
    padding-top: 25px;
    margin-right: 150px;
}

/* -----------------------
Button Box Section Start
-------------------------*/

.AllBlog{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 78px;
}
.Blogs{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #161616;
    height: 235px;
    width: 235px;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 8px;
    font-weight: 500px;
}
.Blogs .Blogbtn1{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    color: black;
    text-decoration: none;
    width: 180px;
    margin-top: 25px;
}
.Blogs .Blogbtn2{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    color: black;
    text-decoration: none;
    width: 180px;
    margin-top: 25px;
}
.Blogs .Blogbtn3{
    text-align: center;
    background-color: #DD0000;
    border-radius: 10px;
    padding: 12px;
    color: white;
    text-decoration: none;
    width: 180px;
    margin-top: 25px;
}

.Blogbtn1:hover{
    background-color: #DD0000;
    color: white;
}

/* --------------------------
Button Box Section End 
----------------------------*/

/* --------------------------
Blog Box Section Start 
----------------------------*/



.MainTransferBlog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.Boxs{
    width: 300px;
    height: 350px;
    background-color: whitesmoke
    border-radius: 10px;
}

.BoxsInfo{
    margin-top: 10px;
    width: 100%;
}

.BoxsImg img{
    width: 100%;
}

.BoxsIcon1{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 15px;
    color: #161616;
}

.BoxsInfo a{
    text-decoration: none;
    left: 496px;
    top: 1021px;
    font-size: 12px;
    border: 1px solid #161616;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    color: #161616;
    font-weight: 500;
}
h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-top: 10px;
}

.icon{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}

/* --------------------------
Blog Box Section End 
----------------------------*/

/* --------------------------
Footer Section start
----------------------------*/

footer{
    height: 400px;
    width: 100%;
    background-color: black;
}
footer h1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 80px 0px 30px 0px;
}
footer hr{
    width: 70%;
    margin: auto;
}
.about{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.about p{
    color: white;
    font-weight: 400;
    margin: 0px 20px;
}
.social-icon{
    text-align: center;
    margin-top: 50px;
}
.social-icon a{
    text-decoration: none;
    font-size: 25px;
    margin: 0px 30px;
    color: white;
}

